user www-data;
worker_processes {{ nginx_worker_processes }};

pid /run/nginx.pid;

events {
    worker_connections {{ nginx_worker_connections }};
}

http {
    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    access_log {{ nginx_access_log }};
    error_log {{ nginx_error_log }};

    sendfile on;
    tcp_nopush on;
    tcp_nodelay on;
    keepalive_timeout 65;

    client_max_body_size {{ nginx_client_max_body_size }};

    include /etc/nginx/sites-enabled/*;
}
